// Footer
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5rem 0;
    background-color: var(--first-color-lighten);
    &__copy {
        text-align: center;
        font-size: var(--smaller-font-size);
        color: var(--text-color);
    }
}