// Media Queries
// For Small Devices
@media screen and (max-width: 360px) {
    .svg__img {
        width: 100%;
    }
    .section {
        padding: 3.5rem 0 1rem;
    }
    .services__img {
        width: 100px;
    }
    .app__buttons {
        grid-template-columns: max-content;
    }
};
@media screen and (min-width: 720px) {
    .services__container{
        grid-template-columns: 1fr;
        
    }
    .calculator > h3{
        text-align: center;
    }
}
@media screen and (max-width: 720px) {
    .calculator > h3{
        text-align: initial;
    }
    .calculator__btn-calc {
        margin: 1rem 0;
    }
    .calculator__title {
        font-size: 1rem;
    }
    .calculator__column, .calculator__select-charge-1, .calculator__distance {
        font-size: 0.8rem;
    }
    .calculator__input-charge {
        font-size: 0.7rem;
    }
}
// For Medium Devices
@media screen and (max-width: 576px) {
    .skills__container {
        flex-direction: column;
    }
    .skills__container > svg {
        width: 300px;
    }
    .skills__tools {
        justify-content: center;
    }
    .calculator__table-container {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
    }
    .calculator__strength {
        row-gap: 1rem;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .about__img {
        height: 300px;
    }

}
@media screen and (min-width: 576px) {
    .svg__img {
        width: 100%;
    }
    .section__title-center {
        text-align: initial;
    }
    .home__container, 
    .about__container,
    .security__container,
    .app__container,
    .contact__container,
    .calculator__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
    .home__container, 
    .about__container, 
    .security__container,
    .app__container, 
    .contact__container{
        align-items: center;
    }
    .home__img {
        order: 1;
    }
    .about__data,
    .security__data,
    .app__data,
    .contact__description,
    .skills__description {
        text-align: initial;
    }
    .about__img,
    .app__img {
        order: -1;
    }
    .about__img {
        height: 300px;
        justify-self: center;
    }
    // .calculator__title {
    //     font-size: 1rem;
    // }
    // .calculator__column, .calculator__select-charge-1, .calculator__distance {
    //     font-size: 0.8rem;
    // }
    // .calculator__input-charge {
    //     font-size: 0.7rem;
    // }
    .home {
        height: auto;
    }    
}
@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }
    .section, .home__container {
        padding: 6rem 0 2rem;
    }
    .nav {
        height: calc(var(--header-height) + 1.5rem);
        &__list {
            flex-direction: row;
            column-gap: 2.5rem;
        }
        &__toggle {
            display: none;
        }
    }
    .change-theme {
        position: initial;
    }
    .app__buttons {
        justify-content: initial;
    }
    .services__container {
        grid-template-columns: repeat(2, 1fr);
    }

    // .calculator__title {
    //     font-size: 1rem;
    // }
    // .calculator__column, .calculator__select-charge-1, .calculator__distance {
    //     font-size: 0.8rem;
    // }
    // .calculator__input-charge {
    //     font-size: 0.7rem;
    // }
}
// For Large Devices
@media screen and (min-width: 968px) {
    .button__header {
        display: block;
    }
    .svg__img {
        width: 470px;
    }
    .about__container,
    .security__container,
    .app__container,
    .contact__container {
        column-gap: 6rem;
    }
    
    .contact__container {
        grid-template-columns: 3fr 1.5fr 1.25fr;
    }
    .footer {
        &__container {
            grid-template-columns: repeat(5, 1fr);
        }
        &__social {
            align-items: flex-start;
            &-link {
                font-size: 1.45rem;
            }
        }
    }
    .services__container {
        padding: 1rem 7rem 0;
    }
    .home {
        height: 100vh;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width: 968px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
    .home {
        &__img {
            width: 540px;
        }
        &__description {
            padding-right: 5rem;
        }
    }
    .footer__container {
        column-gap: 3rem;
    }
    .scrollup {
        right: 2rem;
    }
}
